body{
	margin:0;

}

html{
  scroll-behavior: smooth;
}


img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border:5px solid #4B0082;

}


.button_page-link{
 border: 2px solid #fff;
 box-sizing: inherit;
 cursor: pointer;
 display: inline-block;
 font-size: 13pt;
 padding: 10px 20px;
 text-decoration: none;
}


.btn-outline-light{
  width: 80px;
  background-color: black;
}

.fonts{
  font-family:Trebuchet MS;
}


.skills_proj{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid #4B0082;

}

.projects{
  border: 5px solid #4B0082;
  width: 260px;
  height: 200px;
  border: 50%;
}


.colosso{
  display: flex;
  flex-direction: column;
  margin: 0;
}


.div0{
  background-image: linear-gradient(to bottom, #4B0082,#4B0060,#980021);
}


.wave {
  border:0px;
  position: relative;
  height: 60px;
  width: 100%;
  background: #980021;

}

.wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 60%;
  border-style: groove hidden hidden hidden;
  border: #980021;
  width: 58%;
  height: 80px;
  background-color: white;
  right: 1px;
  top: 35px;
}

.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 60%;
  border-style: hidden hidden groove hidden;
  border: #980021;
  width: 50%;
  height: 84px;
  background-color: #980021;
  left: 0;
  top: 4px;
}


.word{
  color: #4B0082;
}


.divs{
  background-color:white;
  width: 95vh;
  opacity: 0.95;
  color: #4B0082;
}


.div2{
  background-color: white;
  border-top:2px outset;
}


.div2_1{
  background-image: linear-gradient(to bottom, white,#D3D3D3);

}

.btn-primary{
  color: #fff;
  background-color: #5b43d6;
  border-color: #5b43d6;
  display: inline-block;
}


.proj{
  width: 300px;
  height: 300px;
  border-radius: 5%;
  border:2px solid #4B0082;
}

.skill{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border:2px solid white
  color:red;
}


.textos{
  margin-top: 150px;
}


.divis_skills{
  height: 75vh;
}

#div_lucas{
  display:none;
  background-image: linear-gradient(to bottom, #4169E1,#663399);
}

#div_trampos{
  display:none;
  background-image: linear-gradient(to bottom, #87CEEB,#8B008B);
}

#div_hobbies{
  display:none;
  background-image: linear-gradient(to bottom,#663399,#8B0000);
}

.div3{
  background: url('imgs/back3.jpeg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;

}

.icons{
  width: 40px;
  height: 40px;
  background-color: transparent;
}